.start{
 background-color: white;

}

.navbar-fixed-top{
	border-color: white;
}

.navbar-brand{
	color: #fff;
    font-weight: bold;
}


.head{
	background-image:url("https://images.unsplash.com/photo-1618340338709-027f57b98a16?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fG5pZ2h0JTIwY2l0eXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}


.form-inner{
 background-color: #fff;
 margin-left: 21rem;	

}

.form-group {
	
	margin-top: 50px;
    margin-bottom: 15px;
    width: 56%;
    margin-left: 140px;
}


label {
    display: inline-block;
    max-width: 100%;
    margin-right: 600px;
    font-weight: 700;
}


.btn-primary{
    color: #fff;
    margin-right: 600px;
    margin-left:140px;
}

.message{
	padding: 90px;
	
}

.nam{
	margin-right: 80px;

}

