.all-designs{
	margin-left: 25rem;
	width: 57%;

    background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;

}


.head{
 background-color: white;

}

.navbar-fixed-top{
	border-color: white;
}

.navbar-brand{
	color: #fff;
    font-weight: bold;
}

.heading{
 background-image:url("https://images.unsplash.com/photo-1618340338709-027f57b98a16?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fG5pZ2h0JTIwY2l0eXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
 background-repeat: no-repeat;
 background-size: cover;
}


.imgs{
 width: 70%;
 margin-left: 110px;
}


.col9{
margin-left: 30px;

}


.plans{
	color: black;
 	font-family: sans-serif;
}

.thumbnail{

}

.caption{
	color: black;
	font-weight: 25px;
	font-family: serif;

}


.search > span >button {
	background-color: #337AB7;
	padding-top: 16px spx;
	color: #fff;
}
.search > span >button:hover {
	background-color: #005c99;
	color: #fff;
}

