

.head{
 background-color: white;

}

.navbar-fixed-top{
	
	border: none;
}

.navbar-brand{
	color: #fff;
    font-weight: bold;
}

.scale{
 background-image:url("https://images.unsplash.com/photo-1566228965180-0b4e14f6fcb2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8d2hpdGUlMjBwbGFjZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}


.heading{
 background-image:url("https://images.unsplash.com/photo-1566228965180-0b4e14f6fcb2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8d2hpdGUlMjBwbGFjZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
 background-color:  white;
 background-repeat: no-repeat;
 background-size: cover;
}


.home{
   color: black;
   cursor: pointer;
}

.tricks{
	font-family: serif;


}


.fa-facebook{
	color: #57A0D3;
	margin: 3rem;
	cursor: pointer;
}


.fa-instagram{
	cursor: pointer;
    color: #DD2A7B;
	margin: 3rem;
	
}

 .fa-twitter{
 	color: lightblue;
	margin: 3rem;
	cursor: pointer;
}


.fa-whatsapp{
	cursor: pointer;
	color: seagreen;
	margin: 3rem;
	
}

.form-control{
	width: 60%;
}

.plans{
	color: white;
}

.foot{
  background-image:url(https://images.unsplash.com/photo-1566228965180-0b4e14f6fcb2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8d2hpdGUlMjBwbGFjZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-repeat: no-repeat;
}

.social{
 background-color: white;
}